<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div class="container">
      <table style="width:100%">
        <tr>
          <th> - </th>
          <th> Red </th>
          <th> Green </th>
          <th> Blue </th>
          <th> Yellow </th>
          <th> Cyan </th>
          <th> Magenta </th>
          <th> Black </th>
          <th> Pink </th>
          <th> Purple </th>
          <th> Orange </th>
        </tr>
        <tr>
          <td> Red </td>
          <td> 0 </td>
          <td> 1 </td>
          <td> 2 </td>
          <td> 3 </td>
          <td> 4 </td>
          <td> 5 </td>
          <td> 6 </td>
          <td> 7 </td>
          <td> 8 </td>
          <td> 9 </td>
        </tr>
        <tr>
          <td> Green </td>
          <td> a </td>
          <td> b </td>
          <td> c </td>
          <td> d </td>
          <td> e </td>
          <td> f </td>
          <td> g </td>
          <td> h </td>
          <td> i </td>
          <td> j </td>
        </tr>
        <tr>
          <td> Blue </td>
          <td> k </td>
          <td> l </td>
          <td> m </td>
          <td> n </td>
          <td> o </td>
          <td> p </td>
          <td> q </td>
          <td> r </td>
          <td> s </td>
          <td> t </td>
        </tr> 
        <tr>
          <td> Blue </td>
          <td> k </td>
          <td> l </td>
          <td> m </td>
          <td> n </td>
          <td> o </td>
          <td> p </td>
          <td> q </td>
          <td> r </td>
          <td> s </td>
          <td> t </td>
        </tr> 
        <tr>
          <td> Yellow </td>
          <td> u </td>
          <td> v </td>
          <td> w </td>
          <td> x </td>
          <td> y </td>
          <td> z </td>
          <td> ? </td>
          <td> ` </td>
          <td>  </td>
          <td>  </td>
        </tr>
        <tr>
          <td> Cyan </td>
          <td> A </td>
          <td> B </td>
          <td> C </td>
          <td> D </td>
          <td> E </td>
          <td> F </td>
          <td> G </td>
          <td> H </td>
          <td> I </td>
          <td> J </td>
        </tr>
        <tr>
          <td> Magenta </td>
          <td> K </td>
          <td> L </td>
          <td> M </td>
          <td> N </td>
          <td> O </td>
          <td> P </td>
          <td> Q </td>
          <td> R </td>
          <td> S </td>
          <td> T </td>
        </tr>            
      </table>
    </div>
  </body>
</html>